.keyboard-container {
  width: 260px;
  height: 260px;
  border: 1px solid grey;
  margin: 10px auto 0px auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  transition: transform ease-in-out 0.2s;
}

.selectBtn {
  width: 50%;
  height: 50%;
  background-color: rgb(90, 90, 90);
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.menuBtn {
  position: absolute;
  top: 0px;
  height: 25%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37% 37% 0% 0%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.backwardBtn {
  position: absolute;
  left: 0px;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37% 0% 0% 37%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.forwardBtn {
  position: absolute;
  right: 0px;
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0% 37% 37% 0%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.playPauseBtn {
  position: absolute;
  bottom: 0px;
  height: 25%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0% 37% 37%;
  font-size: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgb(78, 78, 78);
  cursor: pointer;
}
.colored {
  transition: background-color ease-in-out 0.2s;
  animation-name: background-gradient-animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: white;
  opacity: 0.9;
}

.colored svg {
  color: white;
}

.colored .center-circle {
  background-color: black;
}